<div id="message-<%= message.id %>">
  <% sender = message.user == current_user %>
    <div class="message <%= 'sender' if sender %>">
        <div class="message-content">
            <div class="message-wrapper">
              <% if message.photo.attached? %>
                <%= cl_image_tag message.photo.key, height: 200, width: 300, crop: :fill %>
              <% end %>
              <% if message.content.length>1 %>
              <p><%= message.content %></p>
              <% end %>
            </div>
        </div>
        <div class="message-infos my-2">
            <% if message.user != current_user %>
              <%= cl_image_tag message.user.photo.key, class: "avatar-bordered-small me-2", alt: "avatar-bordered" %>
            <% end %>
          <p><strong data-category-subscription-target="sendername"><%= sender ? 'You' : message.user.nickname %></strong> at <%= message.created_at.strftime("%H:%M") %></p>
        </div>
    </div>
</div>
