<div class="main">
  <div class="header"></div>
  <div class="top d-flex flex-column align-items-center">
    <div class="textbanner">
      <br>
      <br>
      <h1>Beenie</h1>
      <br>
      <%# <h3 class="toptitle">Bring Nature Into Your Home</h3> %>
    </div>
    <div class="search-form-control form-group mt-4">
      <%= form_with url: plants_path, method: :get, class: "searchbar d-flex align-items-center" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form-control",
          placeholder: "Find your plant or category 🌱"
        %>
        <%= button_tag class: "searchbtn btn btn-danger d-flex justify-content-center " do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h3 class="midtitle ">Best plants to grow in summer</h3>
    <div class="cards">
      <% @plants.sample(4).each do |plant| %>
        <%= link_to plant_path(plant) do %>
          <div class="card-trip">
              <%= cl_image_tag plant.image.key %>
              <h3><%= plant.category.name %></h3>
              <div class="card-trip-infos">
                <div>
                  <h2><%= plant.name %></h2>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
