<div class="container mt-3">
  <% if params[:query] %>
    <h2>You searched for <strong><%= params[:query] %></strong>. We found <%= @plants.count %> plants out of <%= Plant.count %>.</h2>
  <% else %>
    <h2 class="searchtitle">All <%= @plants.count %> plants.</h2>
  <% end %>
  <div class="cards">
    <% @plants.each do |plant| %>
      <%= link_to plant_path(plant) do %>
        <div class="card-trip">
          <%= cl_image_tag plant.image.key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= plant.name %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
