 <div class="header"></div>
  <div class="top d-flex flex-column align-items-center">
    <div class="textbanner">
      <br>
      <br>
      <h1>Beenie</h1>
      <%# <h3 class="toptitle">Bring Nature Into Your Home</h3> %>
    </div>
  </div>
  <div class="">
    <% if params[:query].nil? || params[:query] == "" %>
        <h2 class="searchtitle">All <%= @plants.count %> plants.</h2>

<div class="container">
    <div class="search-form-control form-group ms-3 mt-3">
        <%= form_with url: plants_path, method: :get, class: "d-flex align-items-center" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your plant or category 🌱"
          %>
          <%= button_tag class: "searchbtn2 btn btn-danger d-flex justify-content-center " do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        <% end %>
      </div>

      <br>

          <div class="cards">
            <% @plants.each do |plant| %>
              <%= link_to plant_path(plant) do %>
                <div class="card-trip">

                    <%= cl_image_tag plant.image.key %>
                    <h3><%= plant.category.name %></h3>
                    <div class="card-trip-infos">
                      <div>
                        <h2><%= plant.name %></h2>
                      </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>



      <% else %>
        <h2 class="searchtitle">Results of your search for <strong><%= params[:query] %></strong>. We found <%= @plants.count %> plants out of <%= Plant.count %>.</h2>

<div class="container">
    <div class="search-form-control form-group ms-3 mt-3">
        <%= form_with url: plants_path, method: :get, class: "d-flex align-items-center" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your plant or category 🌱"
          %>
          <%= button_tag class: "searchbtn2 btn btn-danger d-flex justify-content-center " do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        <% end %>
      </div>
       <br>

        <div class="cards">
          <% @plants.each do |plant| %>
            <%= link_to plant_path(plant) do %>
              <div class="card-trip">

                  <%= cl_image_tag plant.image.key %>
                  <h3><%= plant.category.name %></h3>
                  <div class="card-trip-infos">
                    <div>
                      <h2><%= plant.name %></h2>
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      <% end %>
  </div>
</div>
