 <%#
 nom
plant.category
plant.advice
photo
add button
 %>

  <div class= "containershow">
    <div class="img_show" class="row" class="col-sm-6">
      <%= cl_image_tag @plant.image.key, class: "image-show-plant" %>
    </div>

<div class='containertext'>
  <div class="row">
      <div class= "show_h2" class="row" class="col-sm-3">
      <h2> <%= @plant.name %> </h2>
    <p> Category: <%= @plant.category.name %> </p>

  <div>
    <h3>Description</h3>
      <p> <%= @plant.description%> </p>
        <h3>Follow-up</h3>
      <p> <%= @plant.advice%> </p>
    </div>
  </div>
</div>
  <%= simple_form_for [@plant, @user_plant] do |f| %>
    <%= f.input :planted_day, as: :hidden %>
    <%= f.submit "Add to my wishlist 🌱", class: "w-100 btn btn-brown mt-3" %>
  <% end %>

<%#= link_to "Show in my place", root_path , class: "w-100 btn btn-brown mt-3" %>
<%= link_to "Buy this plant", root_path , class: "w-100 btn btn-brown mt-3" %>
</div>
