<div class="banner d-flex align-items-center justify-content-center">
  <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class:"profilepic" %>
  <% else %>
    <img src="https://cdn1.iconfinder.com/data/icons/random-115/24/person-512.png" alt="avatar" class="avatar">
  <% end %>
</div>

<div class="fname d-flex justify-content-center mt-4 mb-2">
  <h1><%= current_user.nickname %> </h1>
</div>

<div class="weather">
 <!--<p>  <p>météo du jour</p>-->
  <%= @sky %>
  <%= @cond %>
  <!--<p> max: </p><%= @max %>-->
  <!--<p> min: </p><%= @min %>-->
  🌡<%= @med %>°C
</div>

<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item me-4" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#my-garden" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">My garden</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#wishlist" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Wishlist</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="my-garden" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="mygarden mt-4">


      <div class="profilecards mt-3 ms-3 me-3">

        <% @user_plants.where.not(planted_day: nil).each do |user_plant| %>
          <%= link_to user_plant_path(user_plant) do %>
            <div class="card-profile">
              <%= cl_image_tag user_plant.plant.image.key %>
              <div class="card-profile-infos">
                <div>
                  <h2><%= user_plant.plant.name %></h2>
                  <p><%= user_plant.plant.category.name %></p>
                 </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>



    </div>
  </div>

  <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="wishlist mt-3">


      <div class="profilecards mt-3 ms-3 me-3">
        <% @user_plants.where(planted_day: nil).each do |user_plant| %>
          <div class="card-profile">
            <%= cl_image_tag user_plant.plant.image.key %>
            <div class="card-profile-infos">
              <div>
                <h2><%= user_plant.plant.name %></h2>
                <p><%= user_plant.plant.category.name %></p>
              </div>
              <%= link_to "Add to my garden", buy_plant_user_plant_path(user_plant), class: 'wishlist-add-btn'  %>
            </div>
          </div>
        <% end %>
      </div>



    </div>
  </div>
</div>
